html,
body {
  background: #efefef;
  padding: 10px;
  font-family: 'Varela Round';
}
a {
  color: #aaaaaa;
  transition: all ease-in-out 200ms;
}
a:hover {
  color: #333333;
  text-decoration: none;
}